body , html{
  margin: 0px;
  padding:0px;
  height:100%;
  width: 100%;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.5em;
  color:#F5FBEF;
  background-color:#000000;
}
p{

  font-size: 20px;

}
ul {
  align-content: center;
  margin:auto;
  padding:inherit;
  height: 100%;
  width: 100%;
  list-style: none;
  font-weight: 400;
  text-align: center;
  position: fixed;

}
ul, li{
  width:200px;
  height:40px;
  background-color: #42CAFD;
  opacity: .5;

}
li{
  float: left;
  text-align: center;
  font-size:20px;
  line-height: 40px;
  opacity: 1;
  color: #DDD1C7

}

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1{
  background-image:url("../img/MagnifyingGlass.jpeg");
  min-height:600px;
  text-align:center;

}

.pimg2{
  background-image:url("../img/LightLines.jpeg");
  min-height:400px;
  text-align: center;
  }

.pimg3{
  background-image:url("../img/HelloPhone.jpeg");
  min-height:400px;
  text-align: center;
}
.pimg4{
  background-image: url("../img/rainyglass.jpeg");
  min-height: 1000px;
  background-position: center;
  background-size: cover;
}
.pimg5{
  background-image: url("../img/pointing.jpeg");
  background-position:center;
  min-height: 400px;
  position: absolute;
  opacity: 0.70;
  border-style: inset;
  background-size: cover;
}
.section{
  text-align: center;
  padding: 50px 80px;
}
.section-dark{
  background-color: #24272B;
  color:#DDD1C7
}
.section-light{
  background-color: #565264;
  color:#F5FBEF
}
.box-mid{
  background-color:#000000;
  color:#F5FBEF;
  text-align:center;
  position:absolute;
  margin: 15em;
  padding:50 80;

}
.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 27px;
  letter-spacing:8px;
  text-transform: uppercase;
  color:#61D095;
  font-weight: bold;
}

.ptext .border {
  background-color: #000000;
  border-style: double;
  opacity:70%;
}
.footer{
  margin-top: 85%;
  margin-bottom:10px;
  background-color: #000000;
  min-height: 100%;
  min-width: 100%;
  color:white;
  font-weight: 400;
  font-size: 11px;
  position: fixed;
  align-content: flex-end;
}
ul li a{
  text-decoration: none;
  color:#0A122A;
  display:block;
}
ul li a:hover{
  background-color: #666;}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
.push .footer{
  height: 50px;
}
ul li ul li{
  display: none;
}
ul li:hover ul li{
  display: block ;
}
#trans-drop-nav{
  text-align: center;
}
